:root {
  --color-white: #FFFFFF;
  --color-black: #0B132A;
  --color-red: #F53838;
  --color-red-shadow: #F5383859;
  --color-red-bg: #FFECEC;
  --color-grey-shape: #DDE0E4;
  --color-grey-text: #AFB5C0;
  --color-dark-grey-text: #4F5665;
  --bg-color-grey: #F8F8F8;
  --border-color:#DDDDDD;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --font-size-38: 3.8rem;
  --font-size-35: 3.5rem;
  --font-size-25: 2.5rem;
  --font-size-24: 2.4rem;
  --font-size-22: 2.2rem;
  --font-size-20: 2rem;
  --font-size-18: 1.8rem;
  --font-size-16: 1.6rem;
  --font-size-14: 1.4rem;

  --main-transition: 0.3s;
  --alt-transition: 0.5s;
}
