@use "../abstracts/media-mixins" as *;

.about {
  margin: 9rem auto;
  font-size: 2rem;

  .container {
    background-color: #fff;
    border-radius: 15px;
    padding: 3.7rem;
    box-shadow: 1px 3px 10px rgba(136, 136, 136, 0.4);
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .box {
      padding: 3.5rem 9.1rem;
      display: flex;
      align-items: center;
      gap: 3.6rem;

      .icon {
        background-color: var(--color-red-bg);
        border-radius: 50%;
        color: #f53838;
        font-size: 2rem;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .about-text {
        h2 {
          margin-bottom: .5rem;
          font-size: var(--font-size-25);
          font-weight: var(--font-weight-bold);
          color: var(--color-black);
        }
        p {
          font-size: var(--font-size-20);
          font-weight: var(--font-weight-regular);
          color: var(--color-dark-grey-text);
        }
      }
    }

    .center {
      border-left: .2rem solid #eeeff2;
      border-right: .2rem solid #eeeff2;
    }
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .about {
    margin: 6rem 1rem;
    .container {
      padding: 2.7rem;
      .box {
        padding: 2.5rem 2.8rem;
      }
    }
  }
}

@include tablet {
  .about {
    margin: 6rem 1rem;
    .container {
      padding: 2.7rem;
      .box {
        padding: 2.5rem 3.1rem;
      }
    }
  }
}

@include mobile {
  .about {
    margin: 6rem 2.5rem;
    .container {
      display: flex;
      flex-direction: column;
      .box {
        padding: 5rem 2.1rem;
      }
      .center {
        border-top: .2rem solid #eeeff2;
        border-bottom: .2rem solid #eeeff2;
      border-left: none;
      border-right: none;
    }
    }
  }
}
