@use "../abstracts/media-mixins" as *;

.hero {
  margin: 9rem 0 0 0;
  padding: 10rem 0;
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;

    .hero-text h1 {
      line-height: 70px;
      font-size: var(--font-size-50);
      font-weight: var(--font-weight-medium);
      margin-bottom: 20px;
      span {
        font-weight: var(--font-weight-bold);
      }
    }

    p {
      margin-bottom: 50px;
      line-height: 30px;
      font-size: var(--font-size-16);
      font-weight: var(--font-weight-regular);
      color: var(--color-dark-grey-text);
      span {
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-medium);
      }
    }

    .button {
      box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.7);
    }

    .hero-image {
      max-width: 600px;
      img {
        width: 100%;
        position: relative;
        animation: up-and-down 5s linear infinite;
      }
    }
  }
}

@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }

  50% {
    top: -50px;
  }
}

@include tablet {
  .hero {
    padding: 6rem 0; 

    .container {
      gap: 2.5rem;

      .hero-text {
        h1 {
          line-height: 50px;
          font-size: 4rem; 
        }
      }

      .button {
        width: 70%;
        padding: 1.75rem 4.75rem;
      }

      .hero-image {
        max-width: 450px;
      }
    }
  }
}

@include mobile {
  .hero .container {
    grid-template-columns: 1fr;
    gap: 4rem;
    padding: 0 1rem;
    text-align: center;

    .hero-text {
      h1 {
        font-size: var(--font-size-38);
        margin-bottom: 2.5rem;
      }
    }

    .hero-image {
      margin-top: 1rem;
      order: -1;
      margin: auto;
    }
  }
}
